
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502272926362'); /* IE9*/
  src: url('iconfont.eot?t=1502272926362#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502272926362') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502272926362') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502272926362#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiaoliudisc:before { content: "\e7ae"; }

.icon-xin:before { content: "\e600"; }

.icon-yanjing:before { content: "\e601"; }

.icon-money:before { content: "\e602"; }

